version: '3.8'
services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  api_server:
    build:
      context: .
      dockerfile: Dockerfile.api_server
    container_name: api_server
    ports:
      - "8081:8081"
    environment:
      MONGO_URI: mongodb://root:example@mongodb:27017
      RABBITMQ_URI: amqp://user:password@rabbitmq:5672/
    depends_on:
      - mongodb
      - rabbitmq

  worker_service:
    build:
      context: .
      dockerfile: Dockerfile.worker_service
    container_name: worker_service
    environment:
      MONGO_URI: mongodb://root:example@mongodb:27017
      RABBITMQ_URI: amqp://user:password@rabbitmq:5672/
    depends_on:
      - mongodb
      - rabbitmq

volumes:
  mongo_data:
